    /*
    Flaticon icon font: Flaticon
    Creation date: 14/05/2018 00:51
    */





    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-chicken:before { content: "\f100"; }
.flaticon-pancake:before { content: "\f101"; }
.flaticon-salad:before { content: "\f102"; }
.flaticon-soup:before { content: "\f103"; }
.flaticon-vegetables:before { content: "\f104"; }
.flaticon-tray:before { content: "\f105"; }
    
    $font-Flaticon-chicken: "\f100";
    $font-Flaticon-pancake: "\f101";
    $font-Flaticon-salad: "\f102";
    $font-Flaticon-soup: "\f103";
    $font-Flaticon-vegetables: "\f104";
    $font-Flaticon-tray: "\f105";