	/*
  	Flaticon icon font: Flaticon
  	Creation date: 14/05/2018 00:51
  	*/



[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-style: normal;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.flaticon-chicken:before { content: "\f100"; }
.flaticon-pancake:before { content: "\f101"; }
.flaticon-salad:before { content: "\f102"; }
.flaticon-soup:before { content: "\f103"; }
.flaticon-vegetables:before { content: "\f104"; }
.flaticon-tray:before { content: "\f105"; }